# Collections

Collections are used to handle multiple values at a time.'

## Collection Types:

1) List

2) Tuple

3) Dictionary

4) Set

### 1) List

=>Represented by Square Brackets 

=>Ordered Collection Data Type (Values are stored in an ordered form)

=>Values may repeat

=>Mutable (Values can be modified)

List Declaration and Accessing ELements

In [4]:
empty_list  = []
numbers = [10,20,30,40]
mixed_list = ["Hello",3.14,True]

#Accessing elements using index

first_number= numbers[0]
last_number_method1=numbers[-1]
last_number_method2=numbers[3]
print(first_number, " ",last_number_method1," ", last_number_method2)

10   40   40

Adding Removing & Modifying Elements

In [13]:
numbers = [10,20,30,40]
print("Original List",numbers)
#Adding
numbers.append(50) #Add 50 at end
print("List After Appending:",numbers)

numbers.insert(1,15)
print("List after Insertion:",numbers)

#Removing
numbers.remove(20)#Remove first occurence of 20
print("List after Removing 20:",numbers)
popped_item = numbers.pop() #Returns and removes last element 
print("List after popping:",numbers)
print("Popped number = ",popped_item)

#Modifying Element at a Certain Position
numbers[1]= 3
print("Modified List", numbers)

Original List [10, 20, 30, 40]
List After Appending: [10, 20, 30, 40, 50]
List after Insertion: [10, 15, 20, 30, 40, 50]
List after Removing 20: [10, 15, 30, 40, 50]
List after popping: [10, 15, 30, 40]
Popped number =  50
Modified List [10, 3, 30, 40]

### 2) Tuple

In [25]:
empty_tuple = ()
single_element_tuple=(42,) #A comma is necessary to distinguish single element tuple from a number
print(single_element_tuple)


numbers_tuple=(10,20,30)
print(numbers_tuple)

mixed_tuple=("Alice",25,True)
print(mixed_tuple)

(42,)
(10, 20, 30)
('Alice', 25, True)

=>Main Operations

In [ ]:
numbers_tuple=(10,20,30)
#Acessing a specific element----Indexing
first_item=numbers_tuple[0]
print(first_item)
#Accessing a portion of Tuple ----Slicing 
sub_tuple=numbers_tuple[1:]
print(sub_tuple)
#Immutability
try:
    numbers_tuple[1]=99
except TypeError as e:
    print("There's an Error:",e)

10
(20, 30)
There's an Error: 'tuple' object does not support item assignment

Unpacking Tuple

In [38]:
#Unpacking Tuple
person_tuple  =("Hussaan Fareed",33,"Physicist")
name,age,role=person_tuple
print("One of the best Teachers of Physics is Sir.", name)
print("I persume his age is",age)
print ("He is a", role)

One of the best Teachers of Physics is Sir. Hussaan Fareed
I persume his age is 33
He is a Physicist

### 3) Dictionary

In [6]:
empty_dict={}  
#Using {} creates an empty dictionary, not an empty set. To create an empty set, you must use set().
person_dict = {"name":"Miss Maham","age":20,"Country":"Pakistan"}
print(person_dict)

another_dict=dict(name="Muhammad Shahzaib",Age = 17,College="Garrison Academy")
print(another_dict)

{'name': 'Miss Maham', 'age': 20, 'Country': 'Pakistan'}
{'name': 'Muhammad Shahzaib', 'Age': 17, 'College': 'Garrison Academy'}

Accessing and Modifying Elements in Dictionary

In [ ]:
person_dict = {"name":"Iqra Fatima","age":19,"Country":"Pakistan"}
#Accessing Values by Keys
print("Name:",person_dict["name"])
#Preffered way for accessing elements (easy error handling)
print("Age",person_dict.get("age"))
#Adding element
person_dict["city"]="Gujrat" 
"""    ||
       \/
This will add the key-value if key doesn't exist
If key already exists then updates the value"""

Name: Iqra Fatima
Age 19

Removing Elements from a Dictionary

In [13]:
person_dict = {"name":"Iqra Fatima","age":19,"Country":"Pakistan"}
removed_value= person_dict.pop("age")
print("Removed Age Value:",removed_value)

Removed Age Value: 19

Checking if a key exists in a dictionary

In [14]:
if "name" in person_dict:
    print("Name Key Exists!")
print(person_dict)

Name Key Exists!
{'name': 'Iqra Fatima', 'Country': 'Pakistan'}

## 4)Sets

Unordered Collection , No Duplication , Mutable

In [ ]:
empty_set=set()
numbers_set={1,2,3,4,3}#Repeating Elements automatically removes
mixed_set={"apple",42,(1,2)}#Order is not maintained in sets 

print(empty_set)
print(numbers_set)
print(mixed_set)

#Adding & Removing Elements
numbers_set.add(23)#Adds 23 to set
print(numbers_set)
numbers_set.discard(2)#Removes 2 from set
print(numbers_set)

set()
{1, 2, 3, 4}
{42, (1, 2), 'apple'}
{1, 2, 3, 4, 23}
{1, 3, 4, 23}

#### Sets Operations:

*Union  *Intersection *Difference *Symmetric Difference

In [21]:
set_a={1,2,3,4}
set_b={3,4,5,6}
print("Union=",set_a.union(set_b)) #All common & Uncommon Elements of A & B
print("Intersection=",set_a.intersection(set_b)) #All Common Elements of A & B
print("Difference=",set_a.difference(set_b)) #Elements of A not in B
print("Symmetric Difference=",set_a.symmetric_difference(set_b)) #Uncommon elements of A and B

Union= {1, 2, 3, 4, 5, 6}
Intersection= {3, 4}
Difference= {1, 2}
Symmetric Difference= {1, 2, 5, 6}